.container-fluid {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-fluid .row.main-row {
  padding: 1rem 0.5rem;
  /* margin: 3rem 2rem; */
  margin: 1rem;
  border: 2px solid #000;
  /* height: 82vh; */
  height: calc(100vh - 2rem);
}
.input-player {
  margin: 0.5rem auto 0rem auto;
  width: 70%;
  height: 2rem;
}
.left-division,
.right-division {
  width: 10%;
}
.middle-division {
  width: 80%;
}
.left-division {
  display: grid;
  padding: 0rem 1rem;
  justify-content: center;
  height: calc(100vh - 4.5rem);
  margin: 0rem;
}
.current-playing-detail {
  border: 2px solid #000;
  margin-bottom: 1rem;
}
.current-playing-head {
  border-bottom: 1px solid #000;
  width: 100%;
  margin: 0;
  font-size: 0.7rem;
  text-align: center;
}
.current-playing-video {
  font-size: 0.6rem;
  justify-content: center;
  padding: 0.5rem;
  margin: 0;
  word-break: break-all;
}
.left-heading {
  font-size: 0.7rem;
  font-weight: 600;
}
.left-mini-heading {
  font-weight: 400;
  font-size: 0.7rem;
}
.restart,
.stop,
.play {
  height: 1.8rem;
  background: #e4e9f1;
  margin: 0.5rem 0;
  border: 2px solid #0246b7;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0;
}
.forward,
.replay {
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin: 0.5rem auto;
}
.enter-time {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
}
.middle-division {
  /* border: 1px solid #000; */
  padding: 0;
  display: grid;
  /* height: 77vh; */
  height: calc(100vh - 4rem);
}
.note {
  color: red;
  padding: 0 0.2rem;
}
.radio-division {
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.player-head {
  border: 2px solid #000;
  text-align: center;
  font-weight: bold;
  padding: 0.3rem;
  font-size: 0.8rem;
  /* height: fit-content; */
  height: 2rem;
}
.input-group {
  height: 1.8rem;
}
.form-check {
  font-size: 1.2rem;
  font-weight: 400;
}
.play-button {
  background-color: #120063;
  padding: 0.2rem 1.5rem;
  font-size: 0.9rem;
  height: inherit;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.play-button:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
}
.player-division {
  /* border: 1px solid #000; */
  /* height: calc(77vh - 27vh); */
  /* height: calc(77vh - 10rem); */
  height: calc(100vh - 13rem);
  margin:0 0.75rem 0.75rem;
}
.bookmarking {
  height: .5rem;
  margin: 20px 12px 0;
}
.progress-division {
  /* border-bottom: 2px solid #000; */
  /* height: 2rem; */
  /* padding: 0rem 5rem; */
}
.player-content {
  border: 2px solid #000;
  height: calc(100vh - 13rem);
}
.form-control {
  height: inherit;
  border: 2px solid #000;
}
/**************** slider-bookmarking STARTS **************/
.slider-bookmark {
  -webkit-appearance: none;
  width: 100%;
  height: 0.2rem;
  background: #120063;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 15px 0 0 0;
}

.slider-bookmark:hover {
  opacity: 1;
}

.slider-bookmark::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #120063;
  border-radius: 0%;
  cursor: pointer;
  display: none;
}

.slider-bookmark::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: red;
  cursor: pointer;
}
.fa-stop{
  color: #120063;
  position: relative;
  top:11px;
  font-size: 0.7rem;
  z-index: 5;
}
/**************** slider-bookmarking ENDS **************/


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.1rem;
  background: red;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: red;
  cursor: pointer;
}

.right-division {
  text-align: center;
  justify-content: center;
  /* height: calc(100vh - 4rem); */
  height: calc(100vh - 10rem);
  margin: 6.5rem 0 0 0;
}
.button-main {
  background-color: #120063;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  height: auto;
  padding: 0.3rem 0.5rem;
  margin-bottom: 1.3rem;
  font-size: 0.7rem;
  border-radius: 0;
  width: 7rem;
}
.button-main:hover{
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  background-color: #120063;
  color: #ffffff;
  font-weight: 700;
}
.button-main2 {
  background-color: #120063;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  height: auto;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 0;
  width: 10rem;
}
.button-main2:hover{
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  background-color: #120063;
  color: #ffffff;
  font-weight: 700;
}
.button-white {
  background-color: #fff;
  color: black;
  text-decoration: underline;
  font-weight: 500;
  text-align: center;
  height: auto;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 0;
  width: 10rem;
  border: 1px solid #000;
}
.button-white:hover{
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  color: #000;
  font-weight: 700;
}
.button-guide {
  background-color: #f7ff00;
  border: 2px solid #000;
  color: #000;
  font-weight: 500;
  text-align: center;
  height: auto;
  padding: 0.2rem 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  border-radius: 0;
  width: 7rem;
}
.button-guide:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  background-color: #f7ff00;
  color: #000;
  font-weight: 700;
}
.right-input-row {
  display: flex;
  height: 4rem;
  justify-content: space-around;
}
.right-input-row .form-group {
  width: 20%;
  margin-bottom: 0;
}
.right-input-label {
  font-weight: bolder;
  font-size: 0.7rem;
}
.hms {
  height: 1.2rem;
  padding: 0;
  text-align: center;
  border: 0.1rem solid #0246b7;
  border-radius: 0;
  font-size: 0.6rem;
}
.play-go {
  height: 2rem !important;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8rem;
  font-weight: 400;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  margin-top: 2px;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  /* background-color: #ccc; */
  background-color: #1c5075;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #1c5075;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: white;
}
.restart:hover,
.stop:hover,
.play:hover {
  font-weight: bold;
}
.restart:hover,
.stop:hover,
.play:hover,
.forward:hover,
.replay:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.foot {
  height: 2rem;
  margin-top: 1.5em;
}
.dashboard-body {
  height: 94vh !important;
}
.h-100 {
  height: 100% !important;
}
.main-body {
  height: 100vh;
}
.video-points {
  color: #000;
  /* text-decoration: underline !important; */
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  border: 0;
  /* display: inline-block; */
  text-align: center;
}
.my-videos {
  width: 100% !important;
  text-align: center !important;
}
.m-b-2 {
  margin-bottom: 2rem !important;
}
.home-search-btn {
  width: 100% !important;
}
.border-2 {
  border: 2px solid #000 !important;
}
.footer-para {
  font-size: 0.9rem;
  margin: auto 0.5rem;
}
.footer-icon {
  font-size: 2rem;
}
.d-f {
  display: flex !important;
}

.footer-division {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-heading {
  font-size: 1.5rem !important;
}
.open-video-modal{
  display: none;
  top:50% !important;
  /* left:50%; */
  margin: auto;
}
.modal-backdrop.show {
  opacity: 0 !important;
}
.b-r-0{
  border-radius: 0 !important;
}
.open-video-modal-body{
  padding: 0 !important;

}
.open-video-head, .open-video-foot{
  background-color: #ff0000;
  text-align: center;
  padding: 0.3rem;
}
.open-video-head{
  border: 0.1rem solid #000;

}
.modal-title{
  color: #fff;
  /* font-size:0.8rem; */
  font-weight: 500;
  font-size: 1.25rem;
}
.seperation{
  width: 2%;
  border-bottom: 0.1rem solid #000; 
}
.video-selection{
  text-align: center;
  /* margin: 0 0.2rem; */
  width: 49%;
}
.select-video-type{
  font-size: 0.7rem;
  font-weight: 600;
  border: 0.1rem solid #000;
  padding: 0.5rem;
  margin: 0;
  border-bottom: 0;
  border-top: 0;
}
.video-selection-button{
  border: 0.1rem solid #000;
}
.video-selection-button .button-main{
  margin: 1rem 0;
}
#close{
  cursor: pointer;
}
#close:hover{
  font-weight: 600;
}
.open-video-foot:hover{
  background-color: #ea0000;
}
.open-video-modal-content{
  width: 80%;
    margin: auto;
}
/* .mark1{
  left:1vw;
}
.mark2{
  left:5vw;
}
.mark3{
  left:9vw;
}
.mark4{
  left:14vw;
}
.mark5{
  left:19vw;
}
.mark6{
  left:25vw;
}
.mark7{
  left:31vw;
}
.mark8{
  left:38vw;
} */

.wrapper{
  /* display:flex; */
  position: relative;
}
.wrapper .icon{
  /* margin: 0 20px; */
  cursor:pointer;
  /* display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column; */
  position: absolute;
  z-index:2;
}
.icon.iconDetailsRight .test{
  left: inherit;
  right: 0;
  transform: translateX(-100%);
}
.icon.iconDetailsRight .parent{
  justify-content: flex-end;
}
.icon.iconDetailsRight .durationBox{
  right: 0;
}
.icon.iconDetailsRight .fa-long-arrow-alt-down{
  float: right;
}
.fa-stop{
  /* position:fixed; */

}
/* .wrapper .icon span{
  position:relative;
  z-index:2;
  height: 60px;
  width: 60px;
  display:block;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  border-radius:50%;
  text-align:center;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
} */
/* .wrapper .icon span i{
  font-size:25px;
  line-height:60px;
} */
.wrapper .icon .tooltip{
  position:absolute;
  top:10rem;
  background: #fff;
  border: 0.1rem solid #000;
  /* box-shadow: 0 10px 10px rgba(0,0,0,0.1); */
  font-size: 0.6rem;
  padding: 0.1rem;
  /* border-radius: 25px; */
  width: max-content;
  color:#000;
  opacity:0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* .wrapper .icon:hover .tooltip.bm1{
  left:1.5rem;
}
.wrapper .icon:hover .tooltip.bm2{
  left:5rem;
}
.wrapper .icon:hover .tooltip.bm3{
  left:8rem;
}
.wrapper .icon:hover .tooltip.bm4{
  left:12rem;
}
.wrapper .icon:hover .tooltip.bm5{
  left:16rem;
}
.wrapper .icon:hover .tooltip.bm6{
  left:20rem;
}
.wrapper .icon:hover .tooltip.bm7{
  right: -23rem;
}
.wrapper .icon:hover .tooltip.bm8{
  right:-29rem;
} */
/* .wrapper .icon .tooltip:before{
  position:absolute;
  content:"";
  height:15px;
  width:15px;
  bottom:-8px;
  left:50%;
  transform: translateX(-50%) rotate(45deg);
} */
.wrapper .icon:hover span,
.wrapp .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .icon:hover span{
  color: #fff;
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
  background:#fff;
  border: 0.05rem solid #000;
}


.popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.test{
   /* width: 20rem; */
   width: 27rem;
   visibility: visible;
   color: #fff;
   text-align: center;
   padding: 8px 0 0;
   position: absolute;
   z-index: 1;
   /* left: 50%; */
   /* margin-left: -10px; */
   /* height: 2rem; */
   /* margin-bottom: 2rem; */
   left: -1px;
   bottom: -2px;
}
.parent{
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
  margin: 0 10px;
}
.test.mark8{
  /* left: 15vw; */
}
.test.mark8 .fa-long-arrow-alt-down {
/* float: right;
  margin-right: 1rem; */
}
.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
.fa-long-arrow-alt-down{
 /* margin-bottom: 0.7rem; */
 color: #12bf21;
 float: left;
 font-size: 26px;
 /* margin-left: 0.7rem; */
}
.optName{
  background-color: #f8ff1f;
  text-decoration: none !important;
}
.optName:hover{
  font-weight: 400 !important;
}
.popOption{
  /* text-decoration: underline; */
  color: #000;
  font-size: 0.7rem;
  margin:0 5px ;
  }
.popOptionText{
  text-decoration: underline;
}
.popOptionStar{
  text-decoration: none;
  color: rgb(255, 1, 1);
  line-height: normal;
  height: 7px;
  font-size: 14px;
}
.popOption:hover{
font-weight: 600;
}
.optDelete{
  color: rgb(255, 1, 1);
}
.optDelete .popOptionText{
  color: rgb(255, 1, 1);
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.youtube-section{

  padding:.5rem 1rem;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  border-bottom: 1px solid #120063;
}

.screencast-section {
  padding:.5rem 1rem;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  border-bottom: 1px solid #120063;
  /* justify-content: space-evenly; */
}

.modal-content{
  border-radius: 0;
  border-color: #120063;
}
.screencast-button-section {
  padding:.5rem 1rem;
  /* display: flex;
  align-items:flex-end;
  justify-content: space-evenly;
  flex-direction: row ; */
}

.youtube-section > span {
  text-decoration: underline;
}

.screencast-section > span {

text-decoration: underline;

  margin-top: 5px;  /* and that, will result in a 10px gap */
}



.durationBox{
  display: flex;
  color: black;
  position: absolute;
  margin: 3px 15px 0;
}
.durationBoxTime{
  display: flex;
  border: 1px solid #000;
  font-size: 0.7rem;
  line-height: normal;
  /* font-weight: bold; */
}
.durationBoxLetter{
  color: rgb(255, 1, 1);
  font-size: 0.7rem;
  font-weight: bold;
  padding-right: 5px;
  padding-top: 2px;
}
.durationBoxTimeTitle{
  min-width: 50px;
  padding: 1px 5px 0;
  background: #f2f2f2;
  border-right: 1px solid #000;
}
.durationBoxWidth{
  min-width: 20px;
  padding:1px 2px 0;
  border-right: 1px solid #000;
}
.durationBoxWidth:last-child{
  border-right: none;
}

.optionsLink .btn,
.aboutLink .btn{
  font-size: 0.7rem;
  color: #120063;
  font-weight: 500;
  text-decoration: underline;
}
.optionsLink {
  margin-bottom: 2rem;
}
.poiBox{
  border: 2px solid #120063;
  font-size: 0.7rem;
  color: #120063;
  font-weight: 500;
  width: 7rem;
  padding: 10px 0;
  margin: auto;
}