<div>

	<div id="instructions" class="container-fluid">
		<!-- <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"
		poster='http://video-js.zencoder.com/oceans-clip.jpg'
		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
		<source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
	</video>
	<button (click)="playPause()">Play/Pause</button>
	<button (click)="makeBig()">Big</button>
	<button (click)="makeSmall()">Small</button>
	<button (click)="makeNormal()">Normal</button>
	<button (click)="restart();">Restart</button>
	<button (click)="skip(-10)">Rewind</button>
	<button (click)="skip(10)">Fastforward</button> -->




		<div class="row main-row">
			<div class="left-division">
				<h6 class="left-heading">Video <span class="left-mini-heading">{{videoState.currentTime}}</span></h6>
				<h6 class="left-heading">Duration <span class="left-mini-heading">{{videoState.duration}}</span></h6>
				<div class="current-playing-detail">
					<p class="current-playing-head">Playing ...</p>
					<p class="current-playing-video">{{videoState.name}}</p>
				</div>
				<button type="button" class="btn restart" (click)="restart();">Restart</button>
				<button type="button" class="btn stop" (click)="playPause()">Stop</button>
				<button type="button" class="btn play" (click)="playPause()">Play</button>
				<button type="button" class="btn play" (click)="clearVideo()">Clear Video</button>
				<div class="d-f">
					<img class="forward" (click)="skip(10)" src="imgs/plusIcon.jpg" />
					<img class="replay" (click)="skip(-10)" src="imgs/minusIcon.jpg" />
				</div>
				<span class="enter-time"> Enter Time </span>
				<div class="right-input-row">
					<div class="form-group">
						<label for="hh" class="right-input-label">hh</label>
						<input type="number" class="form-control hms" id="my_hour_1" min="0" max="10000" />
					</div>
					<div class="form-group">
						<label for="mm" class="right-input-label">mm</label>
						<input type="number" class="form-control hms" id="my_min_1" min="0" max="60" />
					</div>
					<div class="form-group">
						<label for="ss" class="right-input-label">ss</label>
						<input type="number" class="form-control hms" id="my_sec_1" min="0" max="60" />
					</div>
				</div>
				<button type="button" class="btn button-main" (click)="jumpto()">Jump To</button>
			</div>
			<div class="middle-division">
				<!-- <br /> -->
				<div class="bookmarking">
					<div class="wrapper">
						<div class="icon"  [ngClass]="room.percentage <= 80 ? 'iconDetailsLeft' : 'iconDetailsRight'" *ngFor="let room of bookmarks; let i = index"
							[ngStyle]="{'left': room.percentage + '%' }">
							<div class="tooltip ">BM{{room.id}}}, {{formatDuration(room.duration)}}</div>
							<i class="fas fa-stop " (click)="showBmDetails(room, true)"></i>
							<div class="test" *ngIf="room.show" id="myPopupBm01">
								<div class="parent">
									<!-- <div class="popOption optName">(BM{{room.id}}) * D </div>
									<div class="popOption" (click)="playBookMark(room)" >Play</div>
									<div class="popOption">Edit</div>
									<div class="popOption">Notes</div>
									<div class="popOption">PlayList</div>
									<div class="popOption"  (click)="showBmDetails(room, false)">Close</div>
									<div class="popOption optDelete">Delete</div> -->
									<div class="popOption" (click)="playBookMark(room)">
										<div class="popOptionText">Play</div>
									</div>
									<div class="popOption">
										<div class="popOptionStar">*</div>
										<div class="popOptionText">Details</div>
									</div>
									<div class="popOption">
										<div class="popOptionStar">*</div>
										<div class="popOptionText">Notes</div>
									</div>
									<div class="popOption">
										<div class="popOptionStar">*</div>
										<div class="popOptionText">Add to PlayList</div>
									</div>
									<div class="popOption">
										<div class="popOptionText">Save Time</div>
									</div>
									<div class="popOption optDelete">
										<div class="popOptionText">Delete</div>
									</div>
									<div class="popOption" (click)="showBmDetails(room, false)">
										<div class="popOptionText">Close</div>
									</div>
								</div>
								<div class="durationBox">
									<div class="durationBoxLetter">
										D
									</div>
									<div class="durationBoxTime">
										<div class="durationBoxTimeTitle">
											BM{{room.id}}
										</div>
										<div class="durationBoxTimeHr durationBoxWidth">
											{{convertSecondsToTime(room.duration,'hh')}}
										</div>
										<div class="durationBoxTimeMin durationBoxWidth">
											{{convertSecondsToTime(room.duration,'mm')}}
										</div>
										<div class="durationBoxTimeSec durationBoxWidth">
											{{convertSecondsToTime(room.duration,'ss')}}
										</div>
									</div>
								</div>
								<i class="fas fa-long-arrow-alt-down"></i>
							</div>
						</div>

					</div>
					<input type="range" min="0" max="100" value="50" class="slider-bookmark" />
				</div>
				<div class="player-division">
					<div class="progress-division">
						<input type="range" id="my_seekBar_1" min="1" max="100" value="50"
							title="{{videoState.currentTime}}" (change)="onSeekbardrag()" />
					</div>
					<!-- top buttons -->
					<div class="bookmarkButtons">
						<div class="row py-1">
							<div class="col-lg-4">
								<button type="button" class="btn button-main2">
									Select Bookmark
								</button>
							</div>
							<div class="col-lg-4 text-center">
								<button type="button" class="btn button-white" (click)="addBookMark()">
									Click to Bookmark
								</button>
							</div>
							<div class="col-lg-4 text-right">
								<button type="button" class="btn button-main2">
									Enter Bookmark
								</button>
							</div>
						</div>
					</div>
					<!-- /top buttons -->
					<div class="player-content">

						<div class="video-player-wrap">
							<video id="my_video_1" (timeupdate)="onVideoTimeChange()"
								(loadedmetadata)="onVideoMetaDataChange()" class="video-js vjs-default-skin"
								style="position: relative;" width="100%" height="90%" controls preload="none"
								poster='http://video-js.zencoder.com/oceans-clip.jpg'
								data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
								<source
									src="https://content.screencast.com/users/NEERAJMALHOTRA4747/folders/Default/media/5158b67e-f09c-4501-82ae-5f2242417bfd/voiceBot.mp4"
									type='video/mp4' />

							</video>

							<!-- <video data-yt2html5="https://www.youtube.com/watch?v=DsGvkftHHzE" controls></video> -->
						</div>

					</div>
				</div>
				<div class="foot">
					<div class="d-f justify-content-center">
						<span class="footer-icon">© </span>
						<p class="footer-para">Feisal Visram 2021</p>
					</div>
				</div>
			</div>
			<div class="right-division">
				<button role="button" type="button" class="btn button-main" id="myBtn" (click)="open(mymodal)">Open
					Video</button>
				<input type="file" hidden #uploader name="radio" (change)="selectLocalFile($event)" />
				<button type="button" class="btn button-main">Find Video</button>
				<button type="button" class="btn button-main">Save Video</button>
				
				
				
				<button type="button" class="btn button-main">Go Advanced</button>
				<!-- <button type="button" class="btn button-guide">Guide Me</button> -->
				<div class="optionsLink">
					<button class="btn btn-link">Options</button>
				</div>
				<div class="poiBox">
					Points of Interest <br>(POI)<br> Video Points
				</div>
				<div class="aboutLink">
					<button class="btn btn-link">About</button>
				</div>
			</div>
		</div>


	</div>




	<ng-template #mymodal let-modal class="rounded-0">
		<div class="modal-header rounded-0 text-white justify-content-around fw-bold py-2" style="background-color: red;">
			<h4 class="modal-title text-center" id="modal-basic-title">Open Video</h4>
			<!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">×</span>
			</button> -->
		</div>
		<div class="modal-body p-0">

			<div class="youtube-section">
				<div class="row">
					<div class="col-xl-7 text-center mb-2 mx-auto">
						<button type="button" style="background-color: #120063"
							class="btn btn-outline-dark rounded-0 text-white  btn-block"
							(click)="modal.close('Save click')">Open YouTube Link</button>
					</div>
				</div>




				<div class="row">
					<div class="col-lg-7 col-xl-7">YouTube Link</div>
					<div class="col-lg-5 col-xl-5 text-right"><a href="#" (click)="pasteContent('youtube-input')" class="text-dark "
							style="text-decoration: underline;">Paste</a></div>
				</div>
				<div class="row">
					<div class="col-12">
						<input type="text" id="youtube-input" class="form-control rounded-0" />
					</div>
				</div>
			</div>


			<div class="screencast-section">
				<div class="row">
					<div class="col-xl-7 text-center mb-2  mx-auto">
						<button type="button" style="background-color: #120063;"
							class="btn btn-outline-dark rounded-0 text-white btn-block"
							(click)="openScreenCastVideo()">Open Screencast Video</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7 col-xl-7">Embodied Link</div>
					<div class="col-lg-5 col-xl-5 text-right"><a href="#" (click)="pasteContent('screencastEmbed')" class="text-dark "
							style="text-decoration: underline;">Paste</a></div>
				</div>
				<div class="row">
					<div class="col-12 mb-2">
						<textarea name="Text1" id="screencastEmbed" cols="40" rows="5"
							class="form-control rounded-0"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7 col-xl-7">File Name</div>
					<div class="col-lg-5 col-xl-5 text-right"><a href="#" (click)="pasteContent('screencastFileName')" class="text-dark "
							style="text-decoration: underline;">Paste</a></div>
				</div>
				<div class="row">
					<div class="col-12">
						<input type="text" id="screencastFileName" class="form-control rounded-0" />
					</div>
				</div>
			</div>


			<div class="screencast-button-section">
				<div class="row">
					<div class="col-xl-6">
						<button type="button" style="background-color: #120063;"
							class="btn btn-block rounded-0 text-white" (click)="uploader.click()">Open Local
							Video</button>
					</div>
					<div class="col-xl-6">
						<button type="button" style="background-color: #120063;"
							class="btn btn-block rounded-0 text-white" (click)="modal.close('Save click')">Open Local
							Bookmarks</button>
					</div>
				</div>






			</div>

			<div class="screencast-section text-center pt-0 pb-1" style="border: none;">
				<span class="small">© Feisal Visram 2021</span>
			</div>

		</div>
		<div class="modal-footer p-0 m-0">
			<button type="button" style="background-color: red; font-weight: 500;"
				class="btn btn-block rounded-0 m-0 btn-lg py-1 text-white" (click)="modal.close('Save click')">Close</button>
		</div>
	</ng-template>

	<!-- The Modal -->
	<div class="modal fade open-video-modal row modal-dialog-centered" id="myModal">
		<div class="modal-dialog col-8">
			<div class="modal-content b-r-0 open-video-modal-content">
				<!-- Modal body -->
				<div class="modal-body open-video-modal-body">
					<div class="open-video-head">
						<span class="modal-title">Open Video

						</span>
					</div>
					<div class="d-f">
						<div class="video-selection">
							<h6 class="select-video-type">Select My Local Videos</h6>
							<div class="video-selection-button">
								<input id="uploadLocalVideo" type="file" hidden />
								<input id="localVideo" class="btn button-main" type="button" value="Open" />
								<!-- <input onclick="local()" class="btn button-main" id="local-video" type="text">open -->
							</div>
						</div>
						<div class="seperation"></div>
						<div class="video-selection">
							<h6 class="select-video-type">Select My Cloud Videos</h6>
							<div class="video-selection-button">
								<button type="button" class="btn button-main">Open</button>
							</div>
						</div>
					</div>
					<div class="open-video-foot">
						<span class="modal-title" id="close" data-dismiss="modal">Close</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>