<div>

	<div id="instructions" class="container-fluid">
		<!-- <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px" controls preload="none"
		poster='http://video-js.zencoder.com/oceans-clip.jpg'
		data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
		<source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
		<source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
	</video>
	<button (click)="playPause()">Play/Pause</button>
	<button (click)="makeBig()">Big</button>
	<button (click)="makeSmall()">Small</button>
	<button (click)="makeNormal()">Normal</button>
	<button (click)="restart();">Restart</button>
	<button (click)="skip(-10)">Rewind</button>
	<button (click)="skip(10)">Fastforward</button> -->




		<div class="row main-row">
			<div class="left-division">
				<h6 class="left-heading">Video <span class="left-mini-heading">{{videoState.currentTime}}</span></h6>
				<h6 class="left-heading">Duration <span class="left-mini-heading">{{videoState.duration}}</span></h6>
				<div class="current-playing-detail">
					<p class="current-playing-head">Playing ...</p>
					<p class="current-playing-video">{{videoState.name}}</p>
				</div>
				<button type="button" class="btn restart" (click)="restart();">Restart</button>
				<button type="button" class="btn stop" (click)="playPause()">Stop</button>
				<button type="button" class="btn play" (click)="playPause()">Play</button>
				<button type="button" class="btn play" (click)="clearVideo()">Clear Video</button>
				<div class="d-f">
					<img class="forward" (click)="skip(10)" src="imgs/plusIcon.jpg" />
					<img class="replay" (click)="skip(-10)" src="imgs/minusIcon.jpg" />
				</div>
				<span class="enter-time"> Enter Time </span>
				<div class="right-input-row">
					<div class="form-group">
						<label for="hh" class="right-input-label">hh</label>
						<input type="number" class="form-control hms" id="my_hour_1" min="0" max="10000" />
					</div>
					<div class="form-group">
						<label for="mm" class="right-input-label">mm</label>
						<input type="number" class="form-control hms" id="my_min_1" min="0" max="60" />
					</div>
					<div class="form-group">
						<label for="ss" class="right-input-label">ss</label>
						<input type="number" class="form-control hms" id="my_sec_1" min="0" max="60" />
					</div>
				</div>
				<button type="button" class="btn button-main" (click)="jumpto()">Jump To</button>
			</div>
			<div class="middle-division">
				<br />
				<div class="bookmarking">
					<div class="wrapper">
						<div class="icon" *ngFor="let room of bookmarks; let i = index"
							[ngStyle]="{'left': room.percentage + '%' }">
							<div class="tooltip ">BM{{room.id}}}, {{formatDuration(room.duration)}}</div>
							<i class="fas fa-stop " (click)="showBmDetails(room, true)"></i>
							<div class="test "  *ngIf="room.show" 
								id="myPopupBm01">
								<div class="parent">
									<div class="popOption optName">(BM{{room.id}}) * D </div>
									<div class="popOption" (click)="playBookMark(room)" >Play</div>
									<div class="popOption">Edit</div>
									<div class="popOption">Notes</div>
									<div class="popOption">PlayList</div>
									<div class="popOption"  (click)="showBmDetails(room, false)">Close</div>
									<div class="popOption optDelete">Delete</div>
								</div>
								<i class="fas fa-long-arrow-alt-down"></i>
							</div>
						</div>
						<!-- <div class="icon">
							<div class="tooltip bm2">BM02, (hh:mm:ss), xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
							<i class="fas fa-stop mark2" onclick="bm02()"></i>
							<div class="test mark2" id="myPopupBm02">
								<div class="parent">
									<div class="popOption optName">(BM02) * D</div>
									<div class="popOption">Play</div>
									<div class="popOption">Edit</div>
									<div class="popOption">Notes</div>
									<div class="popOption">PlayList</div>
									<div class="popOption" onclick="closePop()">Close</div>
									<div class="popOption optDelete">Delete</div>
								</div>
								<i class="fas fa-long-arrow-alt-down"></i>
							</div>
						</div>
						<div class="icon">
							<div class="tooltip bm3">BM03, (hh:mm:ss), xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
							<i class="fas fa-stop mark3" onclick="bm03()"></i>
							<div class="test mark3" id="myPopupBm03">
								<div class="parent">
									<div class="popOption optName">(BM03) * D</div>
									<div class="popOption">Play</div>
									<div class="popOption">Edit</div>
									<div class="popOption">Notes</div>
									<div class="popOption">PlayList</div>
									<div class="popOption" onclick="closePop()">Close</div>
									<div class="popOption optDelete">Delete</div>
								</div>
								<i class="fas fa-long-arrow-alt-down"></i>
							</div>
						</div>
						<div class="icon">
							<div class="tooltip bm4">BM04, (hh:mm:ss), xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
							<i class="fas fa-stop mark4" onclick="bm04()"></i>
							<div class="test mark4" id="myPopupBm04">
								<div class="parent">
									<div class="popOption optName">(BM04) * D</div>
									<div class="popOption">Play</div>
									<div class="popOption">Edit</div>
									<div class="popOption">Notes</div>
									<div class="popOption">PlayList</div>
									<div class="popOption" onclick="closePop()">Close</div>
									<div class="popOption optDelete">Delete</div>
								</div>
								<i class="fas fa-long-arrow-alt-down"></i>
							</div>
						</div>
						<div class="icon">
							<div class="tooltip bm5">BM05, (hh:mm:ss), xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
							<i class="fas fa-stop mark5" onclick="bm05()"></i>
							<div class="test mark5" id="myPopupBm05">
								<div class="parent">
									<div class="popOption optName">(BM05) * D</div>
									<div class="popOption">Play</div>
									<div class="popOption">Edit</div>
									<div class="popOption">Notes</div>
									<div class="popOption">PlayList</div>
									<div class="popOption" onclick="closePop()">Close</div>
									<div class="popOption optDelete">Delete</div>
								</div>
								<i class="fas fa-long-arrow-alt-down"></i>
							</div>
						</div>
						<div class="icon">
							<div class="tooltip bm6">BM06, (hh:mm:ss), xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
							<i class="fas fa-stop mark6" onclick="bm06()"></i>
							<div class="test mark6" id="myPopupBm06">
								<div class="parent">
									<div class="popOption optName">(BM06) * D</div>
									<div class="popOption">Play</div>
									<div class="popOption">Edit</div>
									<div class="popOption">Notes</div>
									<div class="popOption">PlayList</div>
									<div class="popOption" onclick="closePop()">Close</div>
									<div class="popOption optDelete">Delete</div>
								</div>
								<i class="fas fa-long-arrow-alt-down"></i>
							</div>
						</div>
						<div class="icon">
							<div class="tooltip bm7">BM07, (hh:mm:ss), xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
							<i class="fas fa-stop mark7" onclick="bm07()"></i>
							<div class="test mark7" id="myPopupBm07">
								<div class="parent">
									<div class="popOption optName">(BM07) * D</div>
									<div class="popOption">Play</div>
									<div class="popOption">Edit</div>
									<div class="popOption">Notes</div>
									<div class="popOption">PlayList</div>
									<div class="popOption" onclick="closePop()">Close</div>
									<div class="popOption optDelete">Delete</div>
								</div>
								<i class="fas fa-long-arrow-alt-down"></i>
							</div>
						</div>
						<div class="icon">
							<div class="tooltip bm8">BM08, (hh:mm:ss), xxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
							<i class="fas fa-stop mark8" onclick="bm08()"></i>
							<div class="test mark8" id="myPopupBm08">
								<div class="parent">
									<div class="popOption optDelete">Delete</div>
									<div class="popOption" onclick="closePop()">Close</div>
									<div class="popOption">PlayList</div>
									<div class="popOption">Notes</div>
									<div class="popOption">Edit</div>
									<div class="popOption">Play</div>
									<div class="popOption optName">(BM08) * D</div>
							
								</div>
								<i class="fas fa-long-arrow-alt-down"></i>
							</div>
						</div> -->
					</div>
					<input type="range" min="0" max="100" value="50" class="slider-bookmark" />
				</div>
				<div class="player-division">
					<div class="progress-division">
						<input type="range" id="my_seekBar_1" min="1" max="100" value="50"
							title="{{videoState.currentTime}}" (change)="onSeekbardrag()" />
					</div>
					<div class="player-content">

						<div class="video-player-wrap">
							<video id="my_video_1" (timeupdate)="onVideoTimeChange()"
								(loadedmetadata)="onVideoMetaDataChange()" class="video-js vjs-default-skin"
								style="position: relative;" width="100%" height="90%" controls preload="none"
								poster='http://video-js.zencoder.com/oceans-clip.jpg'
								data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
								<source
									src="https://content.screencast.com/users/NEERAJMALHOTRA4747/folders/Default/media/5158b67e-f09c-4501-82ae-5f2242417bfd/voiceBot.mp4"
									type='video/mp4' />

							</video>
						</div>

					</div>
				</div>
				<div class="foot">
					<div class="d-f justify-content-center">
						<span class="footer-icon">© </span>
						<p class="footer-para">Feisal Visram 2021</p>
					</div>
				</div>
			</div>
			<div class="right-division">
				<button role="button" type="button" class="btn button-main" id="myBtn" (click)="open(mymodal)">Open
					Video</button>
				<input type="file" hidden #uploader name="radio" (change)="selectLocalFile($event)" />
				<button type="button" class="btn button-main">Find Video</button>
				<button type="button" class="btn button-main">Save Video</button>
				<button type="button" class="btn button-main">
					Enter<br />
					Bookmark
				</button>
				<button type="button" class="btn button-main" (click)="addBookMark()">
					Click to<br />
					Bookmark
				</button>
				<button type="button" class="btn button-main">
					Select<br />
					Bookmark
				</button>
				<button type="button" class="btn button-main">Go Advanced</button>
				<button type="button" class="btn button-guide">Guide Me</button>
			</div>
		</div>




		<!-- 
	<div class="container-fluid">
		<div class="row main-row">
			<div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 left-division">
				<h6 class="left-heading">Video <span class="left-mini-heading">(hh:mm:ss)</span></h6>

				<button type="button" class="btn restart" (click)="restart();">Restart</button>
				<button type="button" class="btn stop" (click)="playPause()">Stop</button>
				<button type="button" class="btn play" (click)="playPause()">Play</button>
				<img class="forward" (click)="skip(10)" src="https://img.icons8.com/ios/50/000000/forward-10.png" />
				<img class="replay" (click)="skip(-10)" src="https://img.icons8.com/ios/50/000000/replay-10.png" />
			</div>

			<div class="col-12 col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 middle-division">
				<p class="player-head">Test for HTML5 Video Player</p>
				<div class="radio-division">
					<label class="radio-container">
						Enter YouTube Link <span class="note">*</span>
						<input type="radio" checked="checked" name="radio" />
						<span class="checkmark"></span>
					</label>
					<label class="radio-container">
						Enter Screencast Link
						<input type="radio" name="radio" />
						<span class="checkmark"></span>
					</label>
					<label class="radio-container">
						Enter web Link<span class="note">*</span>
						<input type="radio" name="radio" />
						<span class="checkmark"></span>
					</label>
					<label class="radio-container">
						Select Local Video<span class="note">*</span>
						<input type="file" name="radio" (change)="selectLocalFile($event)" />
						<span class="checkmark" id="OpenImgUpload"></span>
					</label>
				</div>

				<div class="input-player">
					<div class="input-group">
						<input type="text" class="form-control" value="" />
						<span class="play-button">Go</span>
					</div>
				</div>
				<div class="player-division">
					<div class="progress-division">
						<input id="my_seekBar_1" type="range" min="1" max="100" value="50" class="slider" (change)="onSeekbardrag()" />
					</div>

					<div class="video-player-wrap">
						<video id="my_video_1" (timeupdate)="onVideoTimeChange()" class="video-js vjs-default-skin"
							style="position: relative;" width="100%" height="90%" controls preload="none"
							poster='http://video-js.zencoder.com/oceans-clip.jpg'
							data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
							<source src="https://www.youtube.com/watch?v=BUgrDAIQ5ME" type='video/mp4' />

						</video>
					</div>
				</div>
			</div>

			<div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 right-division">
				<span class="jump-to"> Jump To</span>
				<div class="right-input-row">
					<div class="form-group">
						<label for="hh" class="right-input-label">hh</label>
						<input id="my_hour_1" controls type="text" class="form-control hms" />
					</div>
					<div class="form-group">
						<label for="mm" class="right-input-label">mm</label>
						<input id="my_min_1" controls type="text" class="form-control hms" />
					</div>
					<div class="form-group">
						<label for="ss" class="right-input-label">ss</label>
						<input id="my_sec_1" controls type="text" class="form-control hms" />
					</div>
				</div>
				<span (click)="jumpto()" class="play-button play-go">Go</span>
			</div>
		</div>
	</div> -->

	</div>




	<ng-template #mymodal let-modal>
		<div class="modal-header" style="background-color: red; color: black; align-items: center; font-weight: bold;">
			<h4 class="modal-title" id="modal-basic-title" style=" font-weight: bold;">Open Video Link</h4>
			<!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">×</span>
			</button> -->
		</div>
		<div class="modal-body">

			<div class="youtube-section">
				<button type="button" style="width: 40%; background-color: rgb(66, 66, 209); color: white;"
					class="btn btn-outline-dark" (click)="modal.close('Save click')">Open YouTube Link</button>
				<br />

				<span style="width: 60%;">Paste URL</span>
				<input type="text" style="width: 60%;" />
			</div>


			<div class="screencast-section">
				<button type="button" style="width: 45%; background-color: rgb(66, 66, 209); color: white;"
					class="btn btn-outline-dark" (click)="openScreenCastVideo()">Open Screencast Video</button>
				<br />

				<span style="width: 60%;">Paste Screencast Embodied Link</span>
				<textarea name="Text1" id="screencastEmbed" cols="40" rows="5"></textarea>

				<span style="width: 60%;">Paste Screencast File name</span>
				<input type="text" id="screencastFileName" style="width: 60%;" />
			</div>


			<div class="screencast-button-section">
				<button type="button" style="width: 40%; background-color: rgb(66, 66, 209); color: white;"
					class="btn btn-outline-dark" (click)="uploader.click()">Open Local Video</button>

				<button type="button" style="width: 55%; background-color: rgb(66, 66, 209); color: white;"
					class="btn btn-outline-dark" (click)="modal.close('Save click')">Open Local Video Bookmarks</button>



			</div>

			<div class="screencast-section" style="width: 100%; border: none; align-items: center; padding: 0;">
				<span>© Feisal Visram 2021</span>
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" style="width: 100%; background-color: red; color: white;" class="btn btn-outline-dark"
				(click)="modal.close('Save click')">Close</button>
		</div>
	</ng-template>

	<!-- The Modal -->
	<div class="modal fade open-video-modal row modal-dialog-centered" id="myModal">
		<div class="modal-dialog col-8">
			<div class="modal-content b-r-0 open-video-modal-content">
				<!-- Modal body -->
				<div class="modal-body open-video-modal-body">
					<div class="open-video-head">
						<span class="modal-title">Open Video

						</span>
					</div>
					<div class="d-f">
						<div class="video-selection">
							<h6 class="select-video-type">Select My Local Videos</h6>
							<div class="video-selection-button">
								<input id="uploadLocalVideo" type="file" hidden />
								<input id="localVideo" class="btn button-main" type="button" value="Open" />
								<!-- <input onclick="local()" class="btn button-main" id="local-video" type="text">open -->
							</div>
						</div>
						<div class="seperation"></div>
						<div class="video-selection">
							<h6 class="select-video-type">Select My Cloud Videos</h6>
							<div class="video-selection-button">
								<button type="button" class="btn button-main">Open</button>
							</div>
						</div>
					</div>
					<div class="open-video-foot">
						<span class="modal-title" id="close" data-dismiss="modal">Close</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>