.container-fluid {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container-fluid .row.main-row {
  padding: 1rem 0;
  margin: 3rem 2rem;
  border: 1px solid #000;
  height: 82vh;
}
.input-player {
  margin: 0.5rem auto 0rem auto;
  width: 70%;
  height: 2rem;
}
.left-division,
.right-division {
  width: 10%;
}
.middle-division {
  width: 80%;
}
.left-division {
  display: grid;
  justify-content: center;
  height: 40vh;
  margin: auto 0;
}
.left-heading {
  font-size: 0.7rem;
}
.left-mini-heading {
  font-weight: 400;
  font-size: 0.7rem;
}
.restart,
.stop,
.play {
  height: 1.8rem;
  background: #e4e9f1;
  margin: 0.5rem 0;
  border: 2px solid #0246b7;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 0;
}
.forward,
.replay {
  width: 2rem;
  text-align: center;
  margin: 0.5rem auto;
}
.middle-division {
  border: 1px solid #000;
  padding: 0;
  display: grid;
  height: 77vh;
}
.note {
  color: red;
  padding: 0 0.2rem;
}
.radio-division {
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.player-head {
  border: 2px solid #000;
  text-align: center;
  font-weight: bold;
  padding: 0.3rem;
  font-size: 0.8rem;
  /* height: fit-content; */
  height: 2rem;
}
.input-group {
  height: 1.8rem;
}
.form-check {
  font-size: 1.2rem;
  font-weight: 400;
}
.play-button {
  background-color: #1c5075;
  padding: 0.2rem 1.5rem;
  font-size: 0.9rem;
  height: inherit;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.play-button:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
}
.player-division {
  border: 1px solid #000;
  /* height: calc(77vh - 27vh); */
  height: calc(77vh - 10rem);
  margin: 0.75rem;
}
.progress-division {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
  height: 2rem;
  padding: 0rem 5rem;
}
.video-player-wrap{

}


.form-control {
  height: inherit;
  border: 2px solid #000;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.1rem;
  background: red;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: red;
  cursor: pointer;
}

.right-division {
  text-align: center;
  justify-content: center;
  height: 30vh;
  margin: auto 0;
}
.jump-to {
  height: 1rem;
  padding: 0.2rem 0.5rem;
  border: 2px solid #000;
  margin-bottom: 1rem;
  font-size: 0.7rem;
}
.right-input-row {
  display: flex;
  height: 5rem;
  margin-top: 0.5rem;
  justify-content: space-around;
}
.right-input-row .form-group {
  width: 20%;
  margin-bottom: 0;
}
.right-input-label {
  font-weight: 600;
  font-size: 0.7rem;
}
.hms {
  height: 1.2rem;
  padding: 0;
  text-align: center;
  border: 0.1rem solid #0246b7;
  border-radius: 0;
  font-size: 0.6rem;
}
.play-go {
  height: 2rem !important;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.8rem;
  font-weight: 400;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  margin-top: 2px;
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  /* background-color: #ccc; */
  background-color: #1c5075;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: #1c5075;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: white;
}
.restart:hover,
.stop:hover,
.play:hover {
  font-weight: bold;
}
.restart:hover,
.stop:hover,
.play:hover,
.forward:hover,
.replay:hover {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}
